@media (max-width: 991px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: auto !important;
        height: auto !important;
        margin-bottom: -50px !important;
    }
}

@media (max-width: 480px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: auto !important;
        height: auto !important;
        margin-bottom: -50px !important;
    }
    .contact-info {
        width: 100% !important;
    }
}

.contact-info {
    width: 50%;
}

@media (max-width: 375px) {
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: auto !important;
        height: auto !important;
        margin-bottom: -50px !important;
    }
}

.input-error {
    font-size: 12px;
    color: red;
    margin: 0px;
}

.subscribe-form input:focus {
    outline: none !important;
    border: 1px solid #1acea1;
    box-shadow: 0 0 3px #1acea1;
}

.subscribe-form textarea:focus {
    outline: none !important;
    border: 1px solid #1acea1;
    box-shadow: 0 0 3px #1acea1;
}


/* .subscribe-form input[type="checkbox"]:checked {
  outline: none !important;
  border:1px solid #1acea1;
  background: #1acea1;
  background-color: #1acea1;
  color: #1acea1;
} */

.subscribe-form select:focus {
    outline: none !important;
    border: 1px solid #1acea1;
    box-shadow: 0 0 3px #1acea1;
}

.subscribe-form button {
    background-color: #1acea1;
    color: white;
    font-weight: bold;
}