.revneue {
    text-align: center;
    padding: 10px;
}

.revneue p {
    margin-bottom: 0px;
}


/* 
.revenue-border {
    border: 0.5px solid;
}
*/

.revenue-padding {
    padding: 8px 0px;
}

.revenue-title {
    font-size: 20px;
    font-weight: bold;
}

.revenue-subtitle {
    font-size: 16px;
}

.revenue-value {
    font-size: 28px;
}