<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a [routerLink]="['/']"><span></span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li>
                    <a [routerLink]="['/']" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a [routerLink]="['']" fragment="about" routerLinkActive="active">About</a>
                </li>
                <!--         <li><a [routerLink]="['']" fragment="services" routerLinkActive="active">Services</a></li>-->
                <li>
                    <a [routerLink]="['/']" fragment="ransomwareleaks" routerLinkActive="active">Ransomware</a>
                </li>
                <!--         <li><a [routerLink]="['']" fragment="Blog" routerLinkActive="active">Faq</a></li> -->
                <li>
                    <a [routerLink]="['/blog']" fragment="blog" routerLinkActive="active">Blog</a>
                </li>
                <!-- <li>
                    <a href="https://documenter.getpostman.com/view/12619036/TVCjwRJ9" target="blank">API</a>
                </li> -->
                <li class="get-started">
                    <a [routerLink]="['']" fragment="contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>