<app-header></app-header>
<nav class="mobile-nav d-lg-none">
    <ul>
        <li>
            <a [routerLink]="['']" routerLinkActive="active" (click)="removeclass()">Home</a>
        </li>
        <li>
            <a [routerLink]="['']" fragment="about" routerLinkActive="active" (click)="removeclass()">About</a>
        </li>
        <li>
            <a [routerLink]="['']" fragment="ransomwareleaks" routerLinkActive="active" (click)="removeclass()">Ransomware</a>
        </li>
        <li>
            <a [routerLink]="['/blog']" fragment="blog" routerLinkActive="active">Blog</a>
        </li>
        <li>
            <a [routerLink]="['']" fragment="contact" routerLinkActive="active" (click)="removeclass()">Contact</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>