<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <img src="../assets/img/txt.png" style="width: 100%;">
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <ng-lottie containerClass="moving-box img-fluid animated" [styles]="styles" [options]="options">
                </ng-lottie>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>About Us</h2>
            </div>
            <div class="row content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p style=" text-align: justify;text-justify: inter-word; font-size: 19px;">
                        Shadow Intelligence is comprised of geographically dispersed expert cyber threat intelligence researchers, malware analysts, engineers, and developers dedicated to revealing cybercriminal activity and providing timely and actionable intelligence to private-sector
                        and government organizations globally.<br><br> We are focused on dark web activity, with access to restricted sources, for which we leverage our native-language operators, and developed monitoring capabilities
                        to proactively identify threats and compromises.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <p style="text-align: justify;text-justify: auto; font-size: 19px;">
                        Shadow Intelligence is currently diligently developing a platform desperately needed to inform and protect organizations against cybercrime.
                        <br> <br>At this point, we cannot yet disclose the details of our development; however, in the meantime, we invite everyone to subscribe to our Ransomware Live Newsletter and reach out to us at support@shadowIntelligence.io with
                        any questions, concerns, comments, or feedback.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Section -->

    <section id="ransomwareleaks" class="ransomwareleaks">
        <div class="container">
            <div class="main-leaks">
                <div class="section-title aos-init aos-animate" data-aos="fade-up">
                    <h2>Ransomware</h2>
                </div>
                <div class="Ransomware-content" data-aos="fade-up" style="margin-top: -50px;">
                    <app-ransomeware-subscribe></app-ransomeware-subscribe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 text-center" style="padding: 0;">
                    <div class="section-title">
                        <h3>Victims per Ransomware</h3>
                    </div>
                    <div class="main-chart">
                        <div class="chart-box">
                            <app-pie-ransomware></app-pie-ransomware>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Victims per Country</h3>
                    </div>
                    <app-bubble-map></app-bubble-map>
                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h3>Ransomware Victims Per Industry & Sector</h3>
                    </div>
                    <div>
                        <app-column-stacked></app-column-stacked>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>